%section
  %h3 About Me
  %p
    Benjamin Miller is a husband, father, and software engineer, currently |
    living in Colorado Springs, CO. He specializes in web development, trying |
    to navigate up and down the full stack without falling. He falls a lot.
%section
  %h3 Interests
  I love:
  %ul
    %li My family
    %li Learning
    %li Technology
    %li Living in Colorado
    %li
      Music, especially Rush but excluding very little.
      %a{ href: 'https://open.spotify.com/user/w9le58wf6fym4adq8jxshpn60?si=1h6NdwQ8QXqH3tFsRbK0Nw'}See what I'm listening to
%section
  %h3 Technologies I Work In
  %ul
    %li Languages: Ruby, Golang, J2EE
    %li Frontend: HTML5, CSS3, JavaScript
    %li Frameworks: Ruby on Rails
%section
  %h3 About millerb.com
  %div.technologies
    %a.millerb_tech{ href: "https://www.w3.org/html/logo" }
      %img.html5_logo{ src: "https://www.w3.org/html/logo/badge/html5-badge-h-css3.png",
                       width: "133",
                       height: "64",
                       alt: "HTML5 Powered with CSS3 / Styling",
                       title: "HTML5 Powered with CSS3 / Styling"}
    %a.millerb_tech{ href: "https://www.ruby-lang.org/en/" }
      %img.ruby_logo{ src: "images/ruby.png",
                      width: "75",
                      height: "75",
                      alt: "Ruby Language Logo",
                      title: "Ruby Lang" }
  %p
    This website is built with HTML5 and CSS3, running on the Sinatra |
    Framework, deployed on Heroku.
%section
  %h3 Attribution
  %ul
    %li
      HTML5 Logo by
      %a{ href: "http://www.w3.org" }
        %abbr{ title: "World Wide Web Consortium"}W3C
    %li
      Ruby Logo by
      %a{ href: "https://www.ruby-lang.org/en/about/logo/" }
        %abbr{ title: "Yukihiro Matsumoto" }Matz
