%section
  %h3 About Me
  %p
    Benjamin Miller is a software engineer, currently living in Colorado |
    Springs, CO.
%section
  %h3 Technologies
  %ul
    %li Languages: Ruby, Golang, J2EE
    %li Frontend: HTML5, CSS3, JavaScript
    %li Frameworks: Ruby on Rails

  This website is built with HTML5 and CSS3, running on the Sinatra |
  Framework.
