%section
  %h3 About Me
  %p
    Benjamin Miller is a husband, father, and software engineer, currently |
    living in Colorado Springs, CO. He specializes in web development, trying |
    to navigate up and down the full stack without falling. He falls a lot.
%section
  %h3 Interests
  I love:
  %ul
    %li My family
    %li Learning
    %li Technology
    %li Living in Colorado
    %li Music, especially Rush but excluding very little
%section
  %h3 Technologies I Work In
  %ul
    %li Languages: Ruby, Golang, J2EE
    %li Frontend: HTML5, CSS3, JavaScript
    %li Frameworks: Ruby on Rails
%section
  %h3 About millerb.com
  %p
    This website is built with HTML5 and CSS3, running on the Sinatra |
    Framework.
