!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %link{ rel: 'stylesheet', href: "stylesheets/main.css"}
    %title millerb.com
  %body
    %header.container
      %h1 Welcome to millerb.com
      %h2 The personal web site of Benjamin D. Miller
      %h3 Husband, father, software engineer

    %h3 Goals
    %section.container
      %p The intention of this website is currently to develop my front-end development skills.
    %h3 Contact
    %section.container
      %p If you want to get in touch with me, drop a line to b miller at miller b . com.

    %h3 Technologies
    %section.container
      %p This website is built with the following:
      %ul
        %li
          %a{ href: "https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" }HTML5,
          %a{ href: "https://developer.mozilla.org/en-US/docs/Web/CSS" }CSS3,
          and
          %a{ href: "http://haml.info" }HAML
          for templating.
        %li
          Running on
          %a{ href: "http://sinatrarb.com"}Sinatra

    %footer
