%section
  %h3 My Goal for millerb.com
  %p
    I have a few intentions for this website. The first is to increase my |
    front-end development skills. The second is to create my own web |
    presence, independent of social media. Given the recent trend that many |
    platforms are taking with our data, I decided to see if I could accomplish |
    everything that something like Facebook gives us, without relying on |
    someone else to do it for me. This is an ongoing work and a definite |
    work in progress as I learn more about frontend development. Thanks for |
    visiting me!
